################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/musababbasi10.github.io/FileContentIndex/1207178f-94fb-40fa-8ffb-bd428a9f3fac.vsidx
/.vs/musababbasi10.github.io/FileContentIndex/2f6ab767-9128-4e47-ba92-b23da751d6f3.vsidx
/.vs/musababbasi10.github.io/FileContentIndex/4ebf2d87-c4b3-41e4-acfc-532fc17b09a1.vsidx
/.vs/musababbasi10.github.io/FileContentIndex/905d0138-d1bc-4b20-b501-4d09b8f3ce7b.vsidx
